.git
.github
.env
.env.*
!.env.example
node_modules
tests
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.result.cache
*.log
docker-compose.yml
compose.yaml
